<div class="container">
    <div class="row">
        <div class="col col-2"></div>
        <div class="col col-8">
            <div class="card home-card">
                <div class="card-header" style="text-align: center;">
                    <h2>Please Select a Level</h2>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col col-12" style="text-align: center;">
                            <button type="button" class="btn btn-success btn-lg level-button" (click)="level1()">Level 1</button>
                            <button type="button" class="btn btn-info btn-lg level-button" (click)="level2()">Level 2</button>
                            <button type="button" class="btn btn-primary btn-lg level-button" (click)="level3()">Level 3</button>
                            <button type="button" class="btn btn-warning btn-lg level-button" (click)="level4()">Level 4</button>
                            <button type="button" class="btn btn-danger btn-lg level-button" (click)="level5()">Level 5</button>
                            <button type="button" class="btn btn-outline-dark btn-lg level-button" (click)="leaderboard()">View Leaderboard</button>
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
        <div class="col col-2"></div>
      </div>
</div>